app-navbar {

  -webkit-box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 68px;
  width: 100%;

  z-index: 2;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  font-size: 36px;

  height: 100%;
  width: 320px;

  &:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  width: calc(100% - 320px);

  button,
  .image-button {
    margin-right: 8px;
  }
}

.image-button {
  height: 72%;

  img {
    height: 100%;
    width: auto;

    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}
