.submission-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 100%;
  padding: 20px;

  overflow-y: scroll;

  background-image: url("/assets/background.svg");

  table {
    width: 68%;

    margin-top: 24px;

    .test-case-row {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

header {
  font-size: 40px;
  font-weight: 500;
  height: 52px;

  color: #EFEFEF;

  margin-top: 20px;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 68%;
  height: auto;

  margin-top: 36px;
}

.details-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  height: 100%;
}

.details-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 40px;

  margin-top: 8px;

  font-size: 20px;
  background-color: rgba($color: #FEFEFE, $alpha: 0.8);

  .detail-left,
  .detail-right {
    width: 50%;
    margin-left: 4px;
  }

  .detail-left {
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ABABAB, $alpha: 0.96);
  }
}
