<div class="submission-page-wrapper" *ngIf="submission">

  <header>
    Submission #{{submission.id}}
  </header>

  <div class="details-wrapper">

    <div class="details-column">

      <div class="details-row" routerLink="/problems/{{submission.problemId}}">
        <div class="detail-left">
          Problem id
        </div>
        <div class="detail-right">
          {{submission.id}}
        </div>
      </div>

      <div class="details-row" routerLink="/problems/{{submission.problemId}}">
        <div class="detail-left">
          Problem name
        </div>
        <div class="detail-right">
          {{submission.problemName}}
        </div>
      </div>

      <div class="details-row">
        <div class="detail-left">
          Submission date
        </div>
        <div class="detail-right">
          {{submission.submissionDateTime}}
        </div>
      </div>

    </div>

    <div class="details-column">

      <div class="details-row">
        <div class="detail-left">
          Language
        </div>
        <div class="detail-right">
          {{submission.lang}}
        </div>
      </div>

      <div class="details-row">
        <div class="detail-left">
          Verdict
        </div>
        <div class="detail-right">
          {{submission.verdict}}
        </div>
      </div>

      <div class="details-row">
        <div class="detail-left">
          Status
        </div>
        <div class="detail-right">
          {{submission.status}}
        </div>
      </div>

    </div>

  </div>

  <table mat-table [dataSource]="testCasesInfo" class="mat-elevation-z8" *ngIf="testCasesInfo">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="test-case-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
