<div class="submissions-table-header-wrapper" [class.dark-mode]="darkMode">
  <div class="submissions-header">
    {{headerStr}}
  </div>
  <div class="table-header">
    <div class="submission-id-header">
      Id
    </div>
    <div class="submission-problem-name-header">
      Problem
    </div>
    <div class="submission-user-header">
      User
    </div>
    <div class="submission-lang-header">
      Language
    </div>
    <div class="submission-date-header">
      Date
    </div>
    <div class="submission-verdict-header">
      Verdict
    </div>
    <div class="submission-status-header">
      Status
    </div>
  </div>
</div>
