<div class="solution-page-wrapper" *ngIf="solution">
  <header>
    <div class="id-container">
      #{{solution.id}}
    </div>
    <div class="title-container">
      {{solution.title}}
    </div>
  </header>
  <div class="solution-body">

    <div class="solution-segment">
      <div class="segment-title">
        Solution
      </div>
      <textarea cols="30" rows="10" class="segment-content" disabled [(ngModel)]="solution.solution">
      </textarea>
    </div>

    <div class="buttons-container">
      <button mat-raised-button color="secondary" (click)="back()">
        Back
      </button>
    </div>

  </div>
</div>
