<div class="submit-form-wrapper">
  <div class="submit-widget">
    <div class="title">
      Submit solution
    </div>
    <div class="subtitle">
      Problem #{{problemId}}
    </div>
    <form *ngIf="submission">
      <div class="input-group">
        <label for="lang">Programming language</label>
        <select name="lang" id="lang" class="browser-default" [(ngModel)]="submission.programmingLanguage">
          <option value="C++">C++</option>
          <option value="Python">Python</option>
          <option value="C">C</option>
        </select>
      </div>
      <div class="text-area-wrapper">
        <textarea name="sourceCode" id="sourceCode" cols="30" rows="26" [(ngModel)]="submission.sourceCode"></textarea>
      </div>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </form>
  </div>
</div>
