.payment-page-wrapper {
  min-width: 30vw;
  min-height: 30vh;

  form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 30vh;

    #form-field {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-content: center;
      justify-content: space-between;

      padding: 10px 0 0;

      #info-card {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
      }

      button {
        max-width: 50%;
        align-self: center;
      }
    }
  }
}

mat-dialog-container {
  -webkit-box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 18px 1px rgba(0, 0, 0, 0.75);
}
.CardField{
  display: flex;
  flex-direction: column;
}
