<div class="premium-wrapper">
  <div class="cards-container">
    <mat-card class="monthly-card">
      <mat-card-header>
        <mat-card-title>Monthly Subscription</mat-card-title>
        <mat-card-subtitle>
          10$ per month
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Get unlimited access to problem solving indications and problems solutions for only a month.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
          color="primary" (click)="checkout(monthly)">
          Subscribe
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="yearly-card">
      <mat-card-header>
        <mat-card-title>Yearly Subscription</mat-card-title>
        <mat-card-subtitle>
          100$ per year
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Get unlimited access to problem solving indications and problems solutions for a whole year.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
          color="primary" (click)="checkout(yearly)">
          Subscribe
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
