.premium-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url("/assets/auth-page-blue.svg");

  .cards-container {
    align-self: center;
    max-width: 80%;
    max-height: 60%;
    display: flex;
    flex-flow: row;

    mat-card {
      margin: 30px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      min-height: 350px;
      display: flex;
      flex-flow: column;

      mat-card-header {
        padding: 5% 0;
        border-radius: 2px;
        box-shadow: 0px 10px 13px -7px #0000003a, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }

      mat-card-actions,
      mat-card-content {
        margin: 0px 16px;
      }

      mat-card-content {
        padding-top: 5%;
        flex-grow: 1;
      }

      button {
        background-color: #00A1FF;
      }
    }
  }
}

.monthly-card {
  mat-card-header {
    background-color: #00b3d285;
  }
}

.yearly-card {
  mat-card-header {
    background-color: #00c4937e;
  }
}
